<div class="w-[1150px] flex items-center justify-between mb-[12px]">
  <div class="btn">
    <button
      class="bg-[#0d6efd] text-[#fff] py-[6px] px-[16px] rounded-[8px] hover:bg-[#3c78d1]"
      (click)="handleShow()"
      #showModal
    >
      Create
    </button>
  </div>
  <div class="search w-[360px] flex items-center relative">
    <input
      [(ngModel)]="value"
      (keydown.enter)="handleKey($event)"
      class="w-full pr-[40px]"
      type="text"
      placeholder="Enter......."
    />
    <button
      (click)="handleSendvalue()"
      class="text-[#dadada] rounded-r-[92px] py-[8.5px] px-[12px]"
    >
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </button>
  </div>
</div>
