.search {
  border: 1px solid #aaa;
  border-radius: 92px;
  input {
    border-right: none;
    outline: none;
    padding: 10px 16px;
    font-size: 14px;
    background-color: transparent;
    color: #2f2739;
  }
  &:focus-within {
    border: 1px solid #0b5ed7;
  }
}
button {
  transition: background-color 0.1s linear;
}
.search {
  .search-btn {
    border-left: none;
    background-color: transparent;
    &:hover {
      background-color: rgb(233, 227, 227);
      color: #aaa;
    }
  }
}
.separate {
  background-color: #ccc;
  width: 1px;
  height: 24px;
}
