<div class="modal">
  <div class="max-w-[500px] bg-white p-[16px] rounded-[8px]">
    <div class="flex items-center mb-[8px]">
      <h3 class="leading-[1.5] tracking-[0.00938em] w-[60px]">Song</h3>
      <input type="text" name="" id="" />
    </div>
    <div class="flex items-center mb-[8px]">
      <h3 class="leading-[1.5] tracking-[0.00938em] w-[60px]">Album</h3>
      <input type="text" name="" id="" />
    </div>
    <div class="flex items-center mb-[8px]">
      <h3 class="leading-[1.5] tracking-[0.00938em] w-[60px]">Date</h3>
      <input type="text" name="" id="" />
    </div>
    <div class="flex items-center mb-[8px]">
      <h3 class="leading-[1.5] tracking-[0.00938em] w-[60px]">Time</h3>
      <input type="text" name="" id="" />
    </div>
  </div>
</div>
