<div class="relative home-page">
  <div class="w-full bg-[#e3f2fd] h-screen fixed">
    <div class="max-w-[1150px] w-full flex m-auto pt-[60px] pb-[20px]">
      <HeaderComponent
        [isShowModal]="isShowModal"
        (checkShowModal)="checkShowModal($event)"
        (sendValue)="handleGetValue($event)"
        (clickOut)="handleGetElementOut($event)"
        (setEdit)="setEdit($event)"
      ></HeaderComponent>
    </div>
    <div *ngIf="isShowModal">
      <ModalComponent
        [isShowModal]="isShowModal"
        (checkShowModal)="checkShowModal($event)"
        [clickOut]="clickOut"
        (addData)="handleAdd($event)"
        [setEditBtn]="setEditBtn"
        [editItem]="editItem"
        [idItemEdit]="idItem"
      ></ModalComponent>
    </div>
    <div>
      <ConfirmModal
        [isShowConfirm]="isShowConfirm"
        (hideConfirm)="hideConfirm($event)"
        [isHiddenConfirm]="isHiddenConfirm"
        (checkHiddenConfirm)="checkHiddenConfirm($event)"
        [idItem]="idItem"
        (sendData)="handleSetData($event)"
      ></ConfirmModal>
    </div>
    <div class="max-w-[1150px] w-full m-auto">
      <TableComponent
        [isShowConfirm]="isShowConfirm"
        (hideConfirm)="hideConfirm($event)"
        [isHiddenConfirm]="isHiddenConfirm"
        (checkHiddenConfirm)="checkHiddenConfirm($event)"
        [newItems]="newItems"
        (sendId)="handleGetId($event)"
        (setEdit)="setEdit($event)"
        [isShowModal]="isShowModal"
        (checkShowModal)="checkShowModal($event)"
      ></TableComponent>
    </div>
  </div>
</div>
